@import '/src/variables';

.companyWrap {
    display: flex; 
    height: 100vh;
    padding-left: $sidebar-width;
    background: linear-gradient(to right,#FFFFFF 50%,#FFEA2F 50%);
} 
.companyWrap::before {
    @extend .bottomWhiteLineStyle;
}
.companyLeftContainer {
    width: 600px;
    height: 512px;
    padding-top: $header-height;
}
.companyLeftContainer :first-child {
    @extend .headingStyles;
}
.companyLeftContainer :last-child {
    @extend .subheadingStyles;
    padding-top: 40px;
}
.companyRightContainer {
    padding: 150px;
    width: 550px;
    height: 570px;
    padding-top: $header-height;
}

