@import '/src/variables';

.teamWrap {
    height: 100vh;
    background: linear-gradient(to right,#FFEA2F 60%,#FFFFFF 50%); 
}
.teamWrap::before {
    content: '';
    position: absolute;
    bottom: -100vh;
    left: 0;
    width: calc(100% - $sidebar-width);
    height: 15vh;
    background-color: #ffffff; 
}