@import '/src/variables';

.teamWrap {
    height: 100vh;
    background: linear-gradient(to right,#FFEA2F 60%,#FFFFFF 50%); 
}
.teamWrap::before {
    @extend .bottomWhiteLineStyle;
    bottom: -100vh;
    left: 0;
}