@import '/src/variables';

.wrap {
    height: 100vh;
    width: 100%;
    display: flex;
    background: linear-gradient(to right,#FFFFFF 50%,#D3D1E9 50%);  
}
.wrap::before {
    @extend .bottomWhiteLineStyle;
} 
.contentWrap {
    display: flex;
    align-items: center;
    margin-left: $sidebar-width;
}
.infoContainer {
    max-width: 600px;
}
.textContainer {
    font-style: normal;
    :first-child{
        @extend .headingStyles;
        margin-bottom: 40px;
    }
    :last-child {
        @extend .subheadingStyles;
        margin-bottom: 65px;
    }
}
.gamesMainButton {
    width: 190px;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    :last-child {
        margin-left: 10px;
    }   
}