@import '/src/variables';

.wrap {
    width: calc(100% - (2 * $sidebar_width));
    height: 600px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 140px;
}
.info {
    width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    .heading {
        @extend .headingStyles;
    }
    .description {
        @extend .subheadingStyles;
    }
    .button {
        width: 200px;
        height: 100px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
.picture img{
    width: 600px;
    height: 600px;
}
.popupStyles {
    width: 1100px;
    height: 600px;
}
.popupWrap {
    display: flex;
    justify-content: space-between;
    margin: 70px 60px;
}
.popupInfo {
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    
}
h2 {
    font-family: 'Akrobat';
    font-style: normal;
    font-weight: 800;
    font-size: 52px;
    line-height: 65px;
    text-transform: uppercase;
    margin-bottom: 25px;
}
p {
    font-family: 'Akrobat';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 30px;
    text-align: justify;
}
.popupImages {
    display: flex;
    flex-direction: column;
    width: 500px;
}
.imgContainer img {
    width: 100%;
    height: 350px;
    object-fit: cover;
    margin-bottom: 30px;
}
.linksContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    a img {
        width: 240px;
        height: 70px;
        }
}