@import '/src/scss/variables';
@import '/src/scss/mixins';

.slideWrap {
    .button {
        width: 200px;
        height: 100px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 25px;
    }
    width: 300px;
    .image {
        width: inherit;
    }
    h2 {
        @extend .headingStyles;
        font-size: 30px;
        line-height: 1;
        padding: 10px 0px;
    }
    p {
        @extend .subheadingStyles;
        font-size: 20px;
        padding-bottom: 10px;
        text-align: justify;
    }
    padding-bottom: calc($footer-height + 15px);
}