.popupStyles {
    height: 100vh;
    width: 100vw;
    background-color: rgba($color: #000000, $alpha: 0.8);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 150;
    transform: scale(0);
}
.popupActive {
    transform: scale(1);
}
.scrollLock {
    overflow: hidden;
}
.content {
    background-color: white;
    overflow-y: scroll;
    overflow-x: hidden;
    color: #000000;
    position: relative;
}
.content::-webkit-scrollbar {
    width: 0;
    height: 0;
}
.content::-webkit-scrollbar-thumb {
    background-color: transparent;
}
.content::-webkit-scrollbar-track {
    background-color: transparent;
}
.closeButton {
    position: absolute;
    font-size: 30px;
    top: 20px;
    right: 25px;
    cursor: pointer;
}