.headerStyle {
    position: fixed;
    top: 0;
    right: 0;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    z-index: 100;
}

.headerNav {
    width: 643px;
    display: flex;
    justify-content: space-between;
    margin-left: auto;
   
}
.headerNav a {
    color: #000000;
    text-decoration: none;
}

.headerButton {
    background-color: #CE0002;
    height: 120px;
    width: 120px;
    text-transform: uppercase;
    color: #FFFFFF;
    border: none;
    margin-left: 95px;
    cursor: pointer;
}

.logoImage {
    align-self: center;
    margin-top: 31px;
    margin-left: 100px;
}