@import '/src/variables';

.homePageMain {
    display: flex;  
    height: 100vh;
    width: 100%;
    background: linear-gradient(to right,#FFFFFF 275px,#FFEA2F 275px);
}
.homePageWrapper {
    display: flex;   
    width: inherit;
}
.homeHeading {
    @extend .headingStyles;
    width: 1077px;
    height: 255px;
    margin-left: 86px;
    margin-top: 230px;
}
.homeMoreInfoWrapper {
    display: flex;
    justify-content: space-between;
    margin-left: 217px;
    width: 645px;
}
.homeSubHeading {
    @extend .subheadingStyles;
    width: 460px;
    height: 90px;
}
.homeMoreInfoButton {
    width: 120px;
    height: 120px;
    padding: 10px;
}
