@import '/src/variables';

.homePageWrapper {
    display: flex;
    justify-content: space-between;
}

.homeInfoWrapper {
    margin-top: 206px;
}

.homeHeading {
    font-family: 'ZonaPro';
    font-weight: 800;
    font-size: 72px;
    line-height: 85px;
    text-transform: uppercase;
    width: 1077px;
    height: 255px;
    margin-left: -$sidebar-width + 88px;
}

.homeMoreInfoWrapper {
    display: flex;
    align-items: center;
    margin-top: 109px; 
}

.homeSubHeading {
    font-family: 'Akrobat';
    font-weight: 600;
    font-size: 24px;
    line-height: 30px;
    width: 460px;
    height: 90px;
    margin-left: 66px;
}

.homeMoreInfoButton {
    font-family: 'Akrobat';
    font-weight: 800;
    font-size: 22px;
    line-height: 27px;
    width: 120px;
    height: 120px;
    background-color: #CE0002;
    border: none;
    color: #FFFFFF;
    margin-left: -60px;
    cursor: pointer;
    text-align: left;
    padding-left: 15px;
}
