@import '/src/variables';

.homePageMain {
    display: flex;  
    height: 800px;
    width: 100%;
    background: linear-gradient(to right,#FFFFFF 275px,#FFEA2F 275px);
}
.homePageWrapper {
    display: flex;   
    width: inherit;
}

.homeHeading {
    font-family: 'ZonaPro';
    font-weight: 800;
    font-size: 72px;
    line-height: 85px;
    text-transform: uppercase;
    width: 1077px;
    height: 255px;
    margin-left: 86px;
    margin-top: 270px;
}
.homeMoreInfoWrapper {
    display: flex;
    justify-content: space-between;
    margin-left: 217px;
    width: 645px;
}

.homeSubHeading {
    font-family: 'Akrobat';
    font-weight: 600;
    font-size: 24px;
    line-height: 30px;
    width: 460px;
    height: 90px;
}

.homeMoreInfoButton {
    width: 120px;
    height: 120px;
}
