@import '/src/variables';

.homePageWrapper {
    display: flex;
    justify-content: space-between;
}

.homeInfoWrapper {
    margin-top: 206px;
}

.homeHeading {
    width: 1077px;
    height: 255px;
    font-size: 72px;
    margin-left: -$sidebar-width + 88px;
}

.homeMoreInfoWrapper {
    display: flex;
    align-items: center;
    margin-top: 109px; 
}

.homeSubHeading {
    width: 460px;
    height: 90px;
    margin-left: 66px;
}

.homeMoreInfoButton {
    width: 120px;
    height: 120px;
    background-color: #CE0002;
    border: none;
    color: #FFFFFF;
    margin-left: -60px;
    cursor: pointer;
}
