// size constants
$CELL-SIZE : 26.2px;
$WRAPPER-WIDTH: $CELL-SIZE*30;
$WRAPPER-HEIGHT: $CELL-SIZE*28; 

// color constants
$RED : #C40F06;
$YELLOW: #E0C70E;
$GREEN: #3FAA00;
$BLUE: #00B6C4;
$DARK-BLUE: #0054CE;
$BLUE-VIOLET: #6400CE;
$BEIGE: #E2D7D7;
$VIOLET: #812DA5;
$DARK-VIOLET: #531484;
$PINK: #FFC0C0;
$LIGHT-BLACK: #353535;
$BLACK: #232323;
$LIGHT-GRAY: #E4DFE8;
$WHITE: #FFFFFF;
$DARK-BLUE-VIOLET: #3F2A5E;

.unicornWrapper {
 width: $WRAPPER-WIDTH;
 height: $WRAPPER-HEIGHT;
 display: flex;
 flex-wrap: wrap;
 margin-top: 49px;
 margin-right: 20vw;
} 
.unicornCell {
    width: $CELL-SIZE;
    height: $CELL-SIZE;
}

.U11, .U41, .U71 {background-color: $RED;}

.U72, .U101 {background-color: $YELLOW;}

.U102, .U131 {background-color: $GREEN;}

.U132, .U161 {background-color: $BLUE;}

.U162, .U191 {background-color: $DARK-BLUE;}

.U192 {background-color: $BLUE-VIOLET;}

.U104, .U105, .U106, .U107, .U108, .U133, .U137, .U160, .U165, .U166, .U171, .U190, .U201, .U202, .U206, .U220, .U223, .U232, .U234, .U235,
.U254, .U260, .U261, .U263, .U292, .U293, .U294, .U295, .U296, .U297, .U299, .U323, .U325, .U326, .U328, .U353, .U357, .U381, .U382, .U384, 
.U385, .U386, .U412, .U413, .U414, .U416, .U441, .U442, .U444, .U445, .U446, .U472, .U473, .U476, .U479, .U503, .U504, .U505, .U508, .U532, 
.U535, .U536, .U537, .U562, .U563, .U564, .U565, .U566 {background-color: $VIOLET;}

.U129, .U134, .U135, .U136, .U159, .U163, .U164, .U188, .U200, .U221, .U222, .U230, .U231, .U236, .U252, .U253, .U262, .U324, .U327, .U354, 
.U355, .U356, .U383, .U415, .U443, .U447, .U448, .U471, .U474, .U475, .U502, .U506, .U507, .U509, .U531, .U533, .U534, .U567, .U590, .U591, 
.U592, .U596, .U627 {background-color: $DARK-VIOLET;}

.U81, .U109, .U110, .U111, .U130, .U138, .U139, .U168, .U189, .U193, .U194, .U195, .U196, .U197, .U198, .U218, .U219, .U224, .U225, .U226, 
.U227, .U248, .U249, .U250, .U251, .U255, .U256, .U257, .U304, .U306, .U312, .U314, .U335, .U337, .U341, .U343, .U345, .U349, .U371, .U379, 
.U400, .U401, .U402, .U408, .U409, .U425, .U426, .U427, .U428, .U429, .U430, .U431, .U432, .U433, .U434, .U435, .U436, .U437, .U438, .U439, 
.U453, .U454, .U455, .U456, .U457, .U458, .U459, .U460, .U461, .U462, .U463, .U464, .U465, .U466, .U467, .U468, .U469, .U482, .U483, .U484, 
.U485, .U486, .U487, .U488, .U489, .U490, .U491, .U492, .U493, .U494, .U495, .U496, .U497, .U498, .U511, .U512, .U513, .U515, .U516, .U517, 
.U519, .U520, .U521, .U522, .U523, .U524, .U525, .U526, .U527, .U541, .U542, .U543, .U545, .U546, .U547, .U549, .U550, .U551, .U552, .U553, 
.U554, .U555, .U556, .U557, .U561, .U571, .U572, .U573, .U574, .U575, .U576, .U577, .U578, .U579, .U580, .U581, .U582, .U583, .U584, .U585, 
.U586, .U587, .U593, .U601, .U602, .U603, .U604, .U605, .U606, .U607, .U608, .U609, .U610, .U611, .U612, .U613, .U614, .U615, .U616, .U620, 
.U621, .U622, .U623, .U624, .U631, .U632, .U633, .U634, .U635, .U636, .U637, .U638, .U639, .U640, .U641, .U642, .U643, .U644, .U645, .U650, 
.U651, .U652, .U653, .U654, .U661, .U662, .U663, .U664, .U665, .U666, .U667, .U668, .U669, .U670, .U671, .U672, .U673, .U674, .U675, .U679, 
.U680, .U681, .U682, .U683, .U684, .U693, .U694, .U695, .U696, .U697, .U698, .U699, .U700, .U701, .U702, .U703, .U704, .U709, .U710, .U711, 
.U712, .U713, .U714, .U715, .U738, .U739, .U740, .U741, .U742, .U743, .U744, .U745, .U766, .U767, .U768, .U769, .U770, .U771, .U772, .U773, 
.U774, .U775, .U792, .U793, .U794, .U795, .U796, .U797, .U798, .U799, .U800, .U801, .U802, .U803, .U804, .U822, .U823, .U824, .U825, .U826, 
.U827, .U828, .U829, .U830, .U831, .U832, .U833, .U834 {background-color: $WHITE;}

.U140, .U141, .U169, .U170, .U199 {background-color: $PINK;}

.U274, .U275, .U276, .U277, .U278, .U279, .U280, .U281, .U282, .U283, .U284, .U285, .U286, .U287, .U305, .U307, .U308, .U309, .U310, .U311,
.U313, .U315, .U316, .U317, .U334, .U336, .U338, .U339, .U342, .U344, .U346, .U347, .U364, .U365, .U366, .U367, .U368, .U369, .U372, .U373,
.U374, .U375, .U376, .U377, .U395, .U396, .U397, .U398, .U403, .U404, .U405, .U406 {background-color: $LIGHT-BLACK;}

.U287, .U288, .U289, .U290, .U291, .U318, .U319, .U320, .U321, .U322, .U340, .U348, .U351, .U352, .U370, .U378, .U399, .U407 {background-color: $BLACK;}

.U167, .U228, .U229, .U258, .U259, .U350, .U380, .U410, .U440, .U470, .U499, .U528, .U558, .U588, .U594, .U595, .U617, .U625, .U626, .U646, 
.U655, .U656, .U676, .U685, .U686, .U692, .U705, .U716, .U717, .U723, .U724, .U725, .U726, .U727, .U728, .U729, .U730, .U731, .U732, .U733, 
.U734, .U746, .U747, .U776, .U777, .U805, .U806  {background-color: $LIGHT-GRAY;}

.U73, .U103, .U411, .U500, .U501, .U529, .U530, .U559, .U560, .U589, .U618, .U619, .U647, .U648, .U649, .U677, .U678, .U706, .U707, .U708, 
.U735, .U736, .U737, .U763, .U764, .U765 {background-color: $BEIGE;}

.U514, .U518, .U544, .U548 {background-color: $DARK-BLUE-VIOLET;}