.RedButton {
    font-family: 'Akrobat';
    font-weight: 800;
    font-size: 22px;
    line-height: 27px;
    background-color: #CE0002;
    border: none;
    color: #FFFFFF;
    cursor: pointer;
    text-align: left;
}
