.sidebarStyle {
    grid-area: s;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
.logoImage {
    align-self: center;
    margin-top: 31px;
}

.sidebarIcons { 
    display: flex;
    flex-direction: column;
    margin-left:  92px;
}
.sidebarIcons a {
    margin-top: 22px;

}
.sidebarIcons a img {
    width: 28px;
}