.sidebarStyle {
    display: flex;
    position: fixed;
    flex-direction: column;
    justify-content: space-between;
    left: 92px;
    top: 620px;
    transform: translateY(-50%);
    z-index: 100;
}
.sidebarIcons { 
    display: flex;
    flex-direction: column;
}
.sidebarIcons a {
    margin-top: 22px;
}
.sidebarIcons a img {
    width: 28px;
}