.footerStyle {
    grid-area: f;
    background: linear-gradient(#FFFFFF 77px, #EFEFEF 54px);
    display: flex;
    justify-content: space-between;
    align-items: end;
    padding-bottom: 16px;

}

.footerNav {
    width: 516px;
    display: flex;
    justify-content: space-between;
}

.footerNav a {
    color: #7E7E7E;
    text-decoration: none;
}