@import '/src/scss/variables';
@import '/src/scss/mixins';

.infoIconWrap {
    width: 50%;
    h2 {
        font-family: 'Akrobat';
        font-size: 44px;
        font-weight: 900;
        line-height: 55px;
        margin-top: 25px;
    }
    h4 {
        color: #646464;
        @extend .subheadingStyles; 
    }
}
@keyframes animation {
    0% {
        transform: translate(0, 0);
    }
    25% {
        transform: translate(-50px, 0);
    }
    50% {
        transform: translate(-50px, 50px);
    }
    75% {
        transform: translate(0, 50px);
    }
    100% {
        transform: translate(0, 0);
    }
}
.iconContainer {
    width: $cell-size;
    height: $cell-size;
    position: relative;
    z-index: 10;
}
.animatedFone {
    width: $cell-size;
    height: $cell-size;
    margin-top: calc($cell-size-neg - $indent-size);
    margin-left: $indent-size;
    position: absolute;
    animation: animation 12s linear infinite;
}
.iconContainer img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
